<div id="<%= dom_id phone %>">
  <p>
    <strong><%= t("phones.attributes.name") %>:</strong>
    <%= phone.user.name %>
  </p>

  <p>
    <strong><%= t("phones.attributes.number") %>:</strong>
    <%= phone.number %>
  </p>

  <p>
    <strong><%= t("phones.attributes.kind") %>:</strong>
    <%= phone.kind %>
  </p>

</div>
