<div id="<%= dom_id employee %>">
  <p>
    <strong><%= t("employees.attributes.name") %>:</strong>
    <%= employee.user.name %>
  </p>

  <p>
    <strong><%= t("employees.attributes.department") %>:</strong>
    <%= employee.department.name %>
  </p>

</div>
