<div id="<%= dom_id user %>">
  <p>
    <strong><%= t("users.attributes.name") %>:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= t("users.attributes.email") %>:</strong>
    <%= user.email %>
  </p>
</div>
